In [2]:
print("hello")

hello

In [3]:
a=5
b=5.5
c='a'
d='abcd'
print(a,b,c,d)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

5 5.5 a abcd
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [7]:
d={1:"Abcd",'xyz':1234,2:[1,2,3,]}
print(d)

{1: 'Abcd', 'xyz': 1234, 2: [1, 2, 3]}

In [8]:
print(d[1])

Abcd

In [10]:
l1=[1,2,3,4,5]
l2=[2.2,3.5,6,9.8]
l3=[1,2,3.5,6,"abcd",'a',True]
print(type(l1))
print(type(l2))
print(type(l3))

<class 'list'>
<class 'list'>
<class 'list'>

In [11]:
list1=[1,2,3,4,5]
list2=list1.copy()
print(list2)

[1, 2, 3, 4, 5]

In [12]:
list1=[1,2,3,4,5]
list2=list1.copy()
print(list2)
list2.append(3)
print(list2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 3]

**while loop**

In [16]:
while(condition):
    print
    
#for
for i in range(initial,final):
    print
    
#for each
l=[12,2,3,4,5]
for i in l:
    print

NameError: name 'condition' is not defined

In [20]:
for i in range(10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [21]:
#list
l1=[1,2,3,4,5]
l2=[2.2,5.3,6,9.8]
l3=[1,2,3.5,6,"abcd",'a',True]
print(l1)
print(l2)
print(l3)
print(type(l3[0]))

[1, 2, 3, 4, 5]
[2.2, 5.3, 6, 9.8]
[1, 2, 3.5, 6, 'abcd', 'a', True]
<class 'int'>

In [30]:
#IF Else
n=int(input())
if n>0:
    if n>(-24):
        if n%2 == 0:
            print("Good") 
        else:
            print("not successful") 
    else:
        print("not valid")
else:
    print("Bad")

23
not successful